@page "/security"

<div class="wrapper" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;height: auto;min-height: 100vh;display: flex;flex-direction: column;box-sizing: border-box !important;">
    
    <div mc:template_section="About Us" class="templateSection templateAboutUs" data-template-container style="background:#ffffff none no-repeat 50% 50%/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;display: flex;flex-shrink: 0;justify-content: center;padding-right: 0px;padding-left: 0px;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-sizing: border-box !important;">
        <div class="aboutUsContainer contentContainer" style="background:#transparent none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;max-width: 1332px;width: 100%;flex: 0 0 auto;background-color: #transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 50px;padding-bottom: 180px;box-sizing: border-box !important;"><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <h1 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 36px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;">PRIVACY CLAUSE</h1>

<p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;box-sizing: border-box !important;">_______</p>

            </div>
        </div>
        
    </div>
</div><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <h2 style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #686868;font-family: Montserrat;font-size: 24px;font-style: normal;font-weight: normal;line-height: 195%;letter-spacing: normal;box-sizing: border-box !important;">&nbsp;Principles for Our Project:<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
&nbsp;1. Awareness and control:&nbsp; we will collect transaction information, trends in purchases, card information, and user contact information<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
&nbsp;2. Purpose: This will be used solely to detect anomalies in transaction activity and to contact the user that there is an anomaly<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
&nbsp;3. Consent: Consent will be given at the time of sign up and users will be given notice before any changes to these principles are in effect<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
&nbsp;4. Data lifetime: Transaction information and trends will be kept for 9 months, and card and contact information will be kept until the user modifies or deletes their account.&nbsp;<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
&nbsp;For more information:&nbsp;<a href="https://1drv.ms/w/s!AqqIJhwjl5ftw0WwnYmXc_5Qlzx5?e=3qXVGf" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;color: #000000;font-weight: normal;text-decoration: underline;box-sizing: border-box !important;">privacy-policy-CCFraud.docx&nbsp;</a></h2>

            </div>
        </div>
        
    </div>
</div></div>
    </div>
    
    
    
    
    <div class="templateSection templateFooter" data-template-container-bg style="background:#ffffff none no-repeat top/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;display: flex;flex-shrink: 0;justify-content: center;padding-right: 0px;padding-left: 0px;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: top;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 162px;padding-bottom: 162px;box-sizing: border-box !important;">
        <div class="sectionFlexColumn" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;align-items: center;display: flex;flex-direction: column;width: 100%;box-sizing: border-box !important;">
            <div class="footerContainer contentContainer" style="background:transparent none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;max-width: 1332px;width: 100%;flex: 0 0 auto;background-color: transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-sizing: border-box !important;"><div class="mcnImageBlock mcnImageBlockInner" style="padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnImageContent" style="display: flex;padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;justify-content: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        
        <img alt="" src="https://eep.io/mc-cdn-images/template_images/lp-product-shoppable-logo-image.png" width="auto" style="max-width: 100%;align-self: center;flex: 0 0 auto;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
        
        
    </div>
</div></div>
        </div>
    </div>
</div>


@code {

}
