@page "/About"

<div class="wrapper" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;height: auto;min-height: 100vh;display: flex;flex-direction: column;box-sizing: border-box !important;">
    
    <div mc:template_section="About Us" class="templateSection templateAboutUs" data-template-container style="background:#ffffff none no-repeat 50% 50%/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;display: flex;flex-shrink: 0;justify-content: center;padding-right: 0px;padding-left: 0px;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-sizing: border-box !important;">
        <div class="aboutUsContainer contentContainer" style="background:#transparent none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;max-width: 1332px;width: 100%;flex: 0 0 auto;background-color: #transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 50px;padding-bottom: 180px;box-sizing: border-box !important;"><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <h1 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 36px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;">Our story</h1>

<p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;box-sizing: border-box !important;">_______</p>

            </div>
        </div>
        
    </div>
</div><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <h2 style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #686868;font-family: Montserrat;font-size: 24px;font-style: normal;font-weight: normal;line-height: 195%;letter-spacing: normal;box-sizing: border-box !important;"><img align="right" data-file-id="2573122" height="337" src="https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/3b1b5204-3596-5fed-a9b7-9659d255d914.jpg" style="border: 0px;width: 600px;height: 337px;margin: 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;outline: none;text-decoration: none;max-width: 100%;box-sizing: border-box !important;" width="600">For our software engineering project, we wanted to create an application for&nbsp;the everyday-card holder, those who struggle to keep up with their credit card expense, and those who prioritize financial safety.&nbsp;<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
The basic goal of this project was to give the user the ability to track their expenses on different credit cards and provide alerts when a suspicious purchase is made.&nbsp;&nbsp;We came across many challenges along the way, some of those being connecting to the database and running the back end of the server but obviously in the end we eventually persevered.</h2>

            </div>
        </div>
        
    </div>
</div></div>
    </div>
    <div mc:template_section="Testimonials" class="templateSection templateTestimonials" data-template-container style="background:#FAFAFA none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;display: flex;flex-shrink: 0;justify-content: center;padding-right: 0px;padding-left: 0px;background-color: #FAFAFA;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-sizing: border-box !important;">
        <div class="testimonialsContainer contentContainer" style="background:transparent none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;max-width: 1332px;width: 100%;flex: 0 0 auto;background-color: transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 90px;padding-bottom: 90px;box-sizing: border-box !important;"><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #686868;font-family: Montserrat;font-size: 18px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #686868;font-family: Montserrat;font-size: 18px;line-height: 150%;box-sizing: border-box !important;"><span style="font-size: 26px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Meet the Creators</span></p>

            </div>
        </div>
        
    </div>
</div><div class="mcnCaptionBlock" style="display: flex;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    
    <div class="mcnCaptionBlockInner" style="padding: 9px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="" style="display: flex;flex-direction: column;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnCaptionBottomImageContent" style="padding: 0 9px 9px 9px;justify-content: center;display: flex;flex: 1 1 100%;align-self: flex-start;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                    
                    

                        <img alt="" src="https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/415f9758-8b03-8a90-05a1-364c23d23249.jpg" width="300" style="align-self: center;max-width: 100%;border-radius: 2%;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
                        
                    
                </div>
            </div>
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnTextContent" style="flex: 1 1 100%;padding: 0px 9px;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #686868;font-family: Montserrat;font-size: 18px;line-height: 150%;box-sizing: border-box !important;">
                    <h4 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 18px;font-style: normal;font-weight: bold;line-height: 150%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;"><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
Louanne Mozer-Sallo<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<em style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;"><strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;"><span style="font-family: comic sans ms,marker felt-thin,arial,sans-serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;"><span style="font-size: 16px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;"><span style="color: #808080;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Website Designer</span></span></span></strong></em></h4>

                </div>
            </div>
        </div>
    </div>
    
    <div class="mcnCaptionBlockInner" style="padding: 9px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="" style="display: flex;flex-direction: column;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnCaptionBottomImageContent" style="padding: 0 9px 9px 9px;justify-content: center;display: flex;flex: 1 1 100%;align-self: flex-start;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                    
                    

                        <img alt="" src="https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/6a0ae5bc-de4e-540e-d92a-a9e59900a821.jpg" width="300" style="align-self: center;max-width: 100%;border-radius: 2%;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
                        
                    
                </div>
            </div>
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnTextContent" style="flex: 1 1 100%;padding: 0px 9px;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #686868;font-family: Montserrat;font-size: 18px;line-height: 150%;box-sizing: border-box !important;">
                    <h4 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 18px;font-style: normal;font-weight: bold;line-height: 150%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;">Amanda Hayden<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<em style="color: #808080;font-family: comic sans ms,marker felt-thin,arial,sans-serif;font-size: 16px;font-style: italic;font-weight: bold;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Encryption Manager</em></h4>

                </div>
            </div>
        </div>
    </div>
    
</div><div class="mcnCaptionBlock" style="display: flex;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    
    <div class="mcnCaptionBlockInner" style="padding: 9px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="" style="display: flex;flex-direction: column;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnCaptionBottomImageContent" style="padding: 0 9px 9px 9px;justify-content: center;display: flex;flex: 1 1 100%;align-self: flex-start;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                    
                    

                        <img alt="" src="https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/9a92d587-1d9c-99f3-9366-e0a10f99bfac.jpg" width="300" style="align-self: center;max-width: 100%;border-radius: 2%;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
                        
                    
                </div>
            </div>
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnTextContent" style="flex: 1 1 100%;padding: 0px 9px;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #686868;font-family: Montserrat;font-size: 18px;line-height: 150%;box-sizing: border-box !important;">
                    <h4 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 18px;font-style: normal;font-weight: bold;line-height: 150%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;"><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
Frankie Velez<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<em style="color: #808080;font-family: comic sans ms,marker felt-thin,arial,sans-serif;font-size: 16px;font-style: italic;font-weight: bold;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Database Manager</em></h4>

                </div>
            </div>
        </div>
    </div>
    
    <div class="mcnCaptionBlockInner" style="padding: 9px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="" style="display: flex;flex-direction: column;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnCaptionBottomImageContent" style="padding: 0 9px 9px 9px;justify-content: center;display: flex;flex: 1 1 100%;align-self: flex-start;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                    
                    

                        <img alt="" src="https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/159a57c6-e26a-2d6c-c87e-d742d0acabe4.jpg" width="300" style="align-self: center;max-width: 100%;border-radius: 2%;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
                        
                    
                </div>
            </div>
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnTextContent" style="flex: 1 1 100%;padding: 0px 9px;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #686868;font-family: Montserrat;font-size: 18px;line-height: 150%;box-sizing: border-box !important;">
                    <h4 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 18px;font-style: normal;font-weight: bold;line-height: 150%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;">Jonathan Ochoa<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<em style="color: #808080;font-family: comic sans ms,marker felt-thin,arial,sans-serif;font-size: 16px;font-weight: bold;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Algorithm Creator</em></h4>

                </div>
            </div>
        </div>
    </div>
    
</div><div class="mcnDividerBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;table-layout: fixed !important;">
    <div class="mcnDividerBlockInner" style="padding: 18px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="mcnDividerContent" style="border-top: 2px solid #EAEAEA;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;"></div>
    </div>
</div><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #686868;font-family: Montserrat;font-size: 18px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #686868;font-family: Montserrat;font-size: 18px;line-height: 150%;box-sizing: border-box !important;"><span style="font-size: 26px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Meet the Advisor</span></p>

            </div>
        </div>
        
    </div>
</div><div class="mcnCaptionBlock" style="display: flex;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    
    <div class="mcnCaptionBlockInner" style="padding: 9px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="" style="display: flex;flex-direction: column;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnCaptionBottomImageContent" style="padding: 0 9px 9px 9px;justify-content: center;display: flex;flex: 1 1 100%;align-self: flex-start;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                    
                    

                        <img alt="" src="https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/0e826c58-f19a-171c-f050-098dadc05b5d.jpg" width="250" style="align-self: center;max-width: 100%;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
                        
                    
                </div>
            </div>
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnTextContent" style="flex-display: row;flex: 1 1 100%;padding: 0 9px 0 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #686868;font-family: Montserrat;font-size: 18px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                    <h1 class="mc-toc-title" style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 36px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;box-sizing: border-box !important;"><span style="font-size: 19px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;"><span class="mc-toc-title" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;"><strong style="font-weight: bold;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Dr. Islam</strong></span></span></h1>

<h2 class="null" style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #686868;font-family: Montserrat;font-size: 24px;font-style: normal;font-weight: normal;line-height: 195%;letter-spacing: normal;box-sizing: border-box !important;"><em style="color: #808080;font-family: comic sans ms,marker felt-thin,arial,sans-serif;font-size: 16px;font-style: italic;font-weight: bold;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Database Manager</em></h2>

                </div>
            </div>
        </div>
    </div>
    
</div></div>
    </div>
    
    <div mc:template_section="Details" class="templateSection templateDetails" data-template-container style="background:transparent url(&quot;https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/3b1b5204-3596-5fed-a9b7-9659d255d914.jpg&quot;) no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;display: flex;flex-shrink: 0;justify-content: center;padding-right: 0px;padding-left: 0px;background-color: transparent;background-image: url(https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/3b1b5204-3596-5fed-a9b7-9659d255d914.jpg);background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-sizing: border-box !important;">
        <div class="detailsContainer contentContainer" style="background:transparent none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;max-width: 1332px;width: 100%;flex: 0 0 auto;background-color: transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 198px;padding-bottom: 198px;box-sizing: border-box !important;"><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #FFFFFF;font-family: Montserrat;font-size: 24px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <h6 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #FFFFFF;font-family: Baskerville;font-size: 36px;font-style: normal;font-weight: normal;line-height: 150%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;">All the details</h6><p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #FFFFFF;font-family: Montserrat;font-size: 24px;line-height: 150%;box-sizing: border-box !important;">_______</p>
            </div>
        </div>
        
    </div>
</div><div class="mcnDividerBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;table-layout: fixed !important;">
    <div class="mcnDividerBlockInner" style="padding: 90px 18px 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="mcnDividerContent" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;"></div>
    </div>
</div><div class="mcnCaptionBlock" style="display: flex;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    
    <div class="mcnCaptionBlockInner" style="padding: 9px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="" style="display: flex;flex-direction: column;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnCaptionBottomImageContent" style="padding: 0 9px 9px 9px;justify-content: center;display: flex;flex: 1 1 100%;align-self: flex-start;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                    
                    

                        <img alt="" src="" width="216" style="align-self: center;max-width: 100%;border-radius: 2%;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
                        
                    
                </div>
            </div>
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnTextContent" style="flex: 1 1 100%;padding: 0px 9px;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #FFFFFF;font-family: Montserrat;font-size: 24px;line-height: 150%;box-sizing: border-box !important;">
                    <h6 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #FFFFFF;font-family: Baskerville;font-size: 36px;font-style: normal;font-weight: normal;line-height: 150%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;">Process Followed</h6>

<hr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #FFFFFF;font-family: Montserrat;font-size: 24px;line-height: 150%;box-sizing: border-box !important;">&nbsp;</p>

<p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #FFFFFF;font-family: Montserrat;font-size: 24px;line-height: 150%;box-sizing: border-box !important;">This project was created using the RAD or Rapid Application Development model. The main components of this project, website, algorithm, security, and database were determined and accomplished simultaneously in small steps increments</p>

                </div>
            </div>
        </div>
    </div>
    
    <div class="mcnCaptionBlockInner" style="padding: 9px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="" style="display: flex;flex-direction: column;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnCaptionBottomImageContent" style="padding: 0 9px 9px 9px;justify-content: center;display: flex;flex: 1 1 100%;align-self: flex-start;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                    
                    

                        <img alt="" src="" width="216" style="align-self: center;max-width: 100%;border-radius: 2%;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
                        
                    
                </div>
            </div>
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnTextContent" style="flex: 1 1 100%;padding: 0px 9px;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #FFFFFF;font-family: Montserrat;font-size: 24px;line-height: 150%;box-sizing: border-box !important;">
                    <h6 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #FFFFFF;font-family: Baskerville;font-size: 36px;font-style: normal;font-weight: normal;line-height: 150%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;">Safe to Use</h6>

<hr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #FFFFFF;font-family: Montserrat;font-size: 24px;line-height: 150%;box-sizing: border-box !important;"><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
We believe in security. All data transferred in and out of the website is encrypted and uses top of the art security measures.&nbsp;<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
Find out more here:&nbsp;</p>

                </div>
            </div>
        </div>
    </div>
    
</div><div class="mcnDividerBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;table-layout: fixed !important;">
    <div class="mcnDividerBlockInner" style="padding: 90px 18px 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="mcnDividerContent" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;"></div>
    </div>
</div><div class="mcnCaptionBlock" style="display: flex;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    
    <div class="mcnCaptionBlockInner" style="padding: 9px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="" style="display: flex;flex-direction: column;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnCaptionBottomImageContent" style="padding: 0 9px 9px 9px;justify-content: center;display: flex;flex: 1 1 100%;align-self: flex-start;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                    
                    

                        <img alt="" src="" width="216" style="align-self: center;max-width: 100%;border-radius: 2%;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
                        
                    
                </div>
            </div>
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnTextContent" style="flex: 1 1 100%;padding: 0px 9px;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #FFFFFF;font-family: Montserrat;font-size: 24px;line-height: 150%;box-sizing: border-box !important;">
                    <h6 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #FFFFFF;font-family: Baskerville;font-size: 36px;font-style: normal;font-weight: normal;line-height: 150%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;">Resourced Used</h6>

<hr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #FFFFFF;font-family: Montserrat;font-size: 24px;line-height: 150%;box-sizing: border-box !important;"><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
We use a combination of Blazor and C# to create our scripts, along with MySQL to create our database</p>

                </div>
            </div>
        </div>
    </div>
    
    <div class="mcnCaptionBlockInner" style="padding: 9px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <div class="" style="display: flex;flex-direction: column;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnCaptionBottomImageContent" style="padding: 0 9px 9px 9px;justify-content: center;display: flex;flex: 1 1 100%;align-self: flex-start;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                    
                    

                        <img alt="" src="" width="216" style="align-self: center;max-width: 100%;border-radius: 2%;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
                        
                    
                </div>
            </div>
            <div style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
                <div class="mcnTextContent" style="flex: 1 1 100%;padding: 0px 9px;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #FFFFFF;font-family: Montserrat;font-size: 24px;line-height: 150%;box-sizing: border-box !important;">
                    <h6 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #FFFFFF;font-family: Baskerville;font-size: 36px;font-style: normal;font-weight: normal;line-height: 150%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;">One of a kind</h6>

<hr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #FFFFFF;font-family: Montserrat;font-size: 24px;line-height: 150%;box-sizing: border-box !important;"><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
Some awesome features that this application uses includes a map that displays locations that one has recently purchased items</p>

                </div>
            </div>
        </div>
    </div>
    
</div></div>
    </div>
    
    <div class="templateSection templateFooter" data-template-container-bg style="background:#ffffff none no-repeat top/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;display: flex;flex-shrink: 0;justify-content: center;padding-right: 0px;padding-left: 0px;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: top;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 162px;padding-bottom: 162px;box-sizing: border-box !important;">
        <div class="sectionFlexColumn" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;align-items: center;display: flex;flex-direction: column;width: 100%;box-sizing: border-box !important;">
            <div class="footerContainer contentContainer" style="background:transparent none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;max-width: 1332px;width: 100%;flex: 0 0 auto;background-color: transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-sizing: border-box !important;"><div class="mcnImageBlock mcnImageBlockInner" style="padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnImageContent" style="display: flex;padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;justify-content: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        
        <img alt="" src="https://eep.io/mc-cdn-images/template_images/lp-product-shoppable-logo-image.png" width="auto" style="max-width: 100%;align-self: center;flex: 0 0 auto;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
        
        
    </div>
</div></div>
        </div>
    </div>
</div>