@page "/howitworks"
<h3>How it works?</h3>


    
 <div class="wrapper" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;height: auto;min-height: 100vh;display: flex;flex-direction: column;box-sizing: border-box !important;">
    
    <div mc:template_section="About Us" class="templateSection templateAboutUs" data-template-container style="background:#ffffff none no-repeat 50% 50%/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;display: flex;flex-shrink: 0;justify-content: center;padding-right: 0px;padding-left: 0px;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-sizing: border-box !important;">
        <div class="aboutUsContainer contentContainer" style="background:#transparent none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;max-width: 1332px;width: 100%;flex: 0 0 auto;background-color: #transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 50px;padding-bottom: 180px;box-sizing: border-box !important;"><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <h1 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 36px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;">Our Plan</h1>

<p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;box-sizing: border-box !important;">_______</p>

            </div>
        </div>
        
    </div>
</div><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">Once the users’ credit card is authenticated by their bank, a connection will be set up to allow FraudCard to recent timely transaction information.</p>

<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">Once a transaction enters our system an algorithm checks:</p>
•If transaction location differs from the ‘home base’ location that the user sets;<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
•If the user is traveling;<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
•The standard deviation of the last 5 purchases
<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">Based on the results either notify the user of a suspicious purchase or wait for the next transaction.</p>

<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">These trade-offs were chosen based on the sensitivity&nbsp; of the information used and the importance of a quick reaction to a fraudulent purchase</p>

<h2 style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #686868;font-family: Montserrat;font-size: 24px;font-style: normal;font-weight: normal;line-height: 195%;letter-spacing: normal;box-sizing: border-box !important;">&nbsp;</h2>

            </div>
        </div>
        
    </div>
</div><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <h1 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 36px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;">Architecture</h1>

<p style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;box-sizing: border-box !important;">_______</p>

            </div>
        </div>
        
    </div>
</div><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="flex: 1;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">Tradeoffs:​</p>
1. Maintainability vs<u style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;"> performance</u><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
2.&nbsp;<u style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Security</u> vs usability​<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
3.&nbsp;<u style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Availability</u> vs time to market​s

<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">&nbsp;</p>

<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">&nbsp;</p>

<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">These trade-offs were chosen based on the sensitivity&nbsp; of the information used and the importance of a quick reaction to a fraudulent purchase</p>

<h2 style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #686868;font-family: Montserrat;font-size: 24px;font-style: normal;font-weight: normal;line-height: 195%;letter-spacing: normal;box-sizing: border-box !important;">&nbsp;</h2>

            </div>
        </div>
        
        <div style="flex: 1;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">
                <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #000000;font-family: Baskerville;font-size: 22px;line-height: 150%;text-align: left;box-sizing: border-box !important;">Software Used:</p>
•Blazor with ASP.net for website development<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
•Bootstraps: Design libraries for HTML and C#<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
•Dapper: Loading<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
•MySQL Data
            </div>
        </div>
        
    </div>
</div></div>
    </div>
    
    
    
    
    <div class="templateSection templateFooter" data-template-container-bg style="background:#ffffff none no-repeat top/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;display: flex;flex-shrink: 0;justify-content: center;padding-right: 0px;padding-left: 0px;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: top;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 162px;padding-bottom: 162px;box-sizing: border-box !important;">
        <div class="sectionFlexColumn" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;align-items: center;display: flex;flex-direction: column;width: 100%;box-sizing: border-box !important;">
            <div class="footerContainer contentContainer" style="background:transparent none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;max-width: 1332px;width: 100%;flex: 0 0 auto;background-color: transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-sizing: border-box !important;"><div class="mcnImageBlock mcnImageBlockInner" style="padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnImageContent" style="display: flex;padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;justify-content: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        
        <img alt="" src="https://eep.io/mc-cdn-images/template_images/lp-product-shoppable-logo-image.png" width="auto" style="max-width: 100%;align-self: center;flex: 0 0 auto;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
        
        
    </div>
</div></div>
        </div>
    </div>
</div>
@code {

}
