@page "/"
     <AuthorizeView>
         <Authorized> <LoginRedirect/></Authorized>
     </AuthorizeView>

    <div mc:template_section="Header" class="templateSection templateHeader" data-template-container style="background:#FFFFFF none no-repeat 50% 50%/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;display: flex;flex-shrink: 0;justify-content: center;padding-right: 0px;padding-left: 0px;background-color: #FFFFFF;background-image: none;background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 54px;padding-bottom: 54px;box-sizing: border-box !important;">
            <div class="headerContainer contentContainer" style="background:transparent none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;max-width: 1224px;width: 100%;flex: 0 0 auto;background-color: transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-shadow: none;box-sizing: border-box !important;"><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #696969;font-family: Helvetica;font-size: 20px;line-height: 150%;text-align: center;box-sizing: border-box !important;">
                <h1 data-pm-slice="1 1 []" style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: 'Noticia Text', Georgia, 'Times New Roman', serif;font-size: 48px;font-style: normal;font-weight: normal;line-height: 125%;letter-spacing: normal;box-sizing: border-box !important;"><img align="right" data-file-id="2573178" height="600" src="https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/46ad629e-9d08-df9d-3a9d-5a1d549eb92d.jpg" style="border: 0px initial;width: 800px;height: 600px;margin: 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;outline: none;text-decoration: none;max-width: 100%;box-sizing: border-box !important;" width="800"><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
Experience a new way to manage money.</h1>

<p data-pm-slice="1 1 []" style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #696969;font-family: Helvetica;font-size: 20px;line-height: 150%;box-sizing: border-box !important;">Track your expenditure and receive warnings when a suspicious purchase is made.</p>

            </div>
        </div>
        
    </div>
</div><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #696969;font-family: Helvetica;font-size: 20px;line-height: 150%;text-align: center;box-sizing: border-box !important;">
                <h4 class="null" data-pm-slice="1 1 []" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: 'Noticia Text', Georgia, 'Times New Roman', serif;font-size: 20px;font-style: normal;font-weight: normal;line-height: 175%;letter-spacing: normal;text-align: center;box-sizing: border-box !important;"><span style="font-size: 25px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Catch the Hacker before the damage is done</span></h4>

            </div>
        </div>
        
    </div>
</div><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding: 0px 9px 9px;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 18px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #696969;line-height: 150%;text-align: center;box-sizing: border-box !important;">
                <span style="color: #000000;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">In the US being the #1 in cases of credit card fraud, protecting yourself becomes the #1 priority. Credit card fraud is the most common type of identity theft, according to a </span><a href="https://www.ftc.gov/system/files/documents/reports/consumer-sentinel-network-data-book-2019/consumer_sentinel_network_data_book_2019.pdf" tabindex="-1" target="_blank" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;color: #696969;font-weight: normal;text-decoration: underline;box-sizing: border-box !important;"><span style="color: #000080;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">2020 Federal Trade Commission report</span></a><span style="color: #000000;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">. This type of fraud typically entails someone taking over a person’s existing credit card accounts and charging without permission or opening new accounts using someone else’s personal financial information.</span>

<p style="font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 18px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #696969;line-height: 150%;text-align: center;box-sizing: border-box !important;"><span style="color: #000000;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">In both cases, the crook escapes with the goods and the consumer is left dealing with the credit, financial, and psychological damage.</span></p>

<p style="font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 18px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #696969;line-height: 150%;text-align: center;box-sizing: border-box !important;"><span style="color: #000000;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">Protecting your credit card accounts and personal identity is imperative, and it begins with education.</span></p>

            </div>
        </div>
        
    </div>
</div><div class="mcnButtonBlock mcnButtonBlockInner" style="display: flex;justify-content: center;padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        <a id="0" class="mcnButtonContentContainer mcnButton " title="Learn about Credit Card Safety" href="" target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;border-radius: 0px;background-color: #000000;box-shadow: none;padding: 18px;color: #FFFFFF;font-family: Arial;font-size: 16px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;box-sizing: border-box !important;">Learn about Credit Card Safety</a>
    </div>
</div><div class="mcnImageBlock mcnImageBlockInner" style="padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnImageContent" style="display: flex;padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;justify-content: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        
        <img alt="" src="https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/a5cc4b57-4da6-8ed1-49cc-bbadfe81222c.jpg" width="660.9600659179688" style="max-width: 100%;align-self: center;flex: 0 0 auto;box-shadow: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" class="mcnImage">
        
        
    </div>
</div><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding: 0px 9px 9px;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;text-align: justify;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #696969;font-size: 20px;line-height: 150%;box-sizing: border-box !important;">
                <h1 class="null" style="text-align: right;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: 'Noticia Text', Georgia, 'Times New Roman', serif;font-size: 48px;font-style: normal;font-weight: normal;line-height: 125%;letter-spacing: normal;box-sizing: border-box !important;"><img align="right" data-file-id="2574426" height="266" src="https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/62d4e279-4848-bca4-eed9-30995ba3360d.jpg" style="border: 0px;width: 400px;height: 266px;margin: 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;outline: none;text-decoration: none;max-width: 100%;box-sizing: border-box !important;" width="400"></h1>

<h1 class="null" style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: 'Noticia Text', Georgia, 'Times New Roman', serif;font-size: 48px;font-style: normal;font-weight: normal;line-height: 125%;letter-spacing: normal;box-sizing: border-box !important;">Make use of our</h1>

<h1 class="null" style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: 'Noticia Text', Georgia, 'Times New Roman', serif;font-size: 48px;font-style: normal;font-weight: normal;line-height: 125%;letter-spacing: normal;box-sizing: border-box !important;">tracking feature</h1>

<p data-pm-slice="1 1 []" style="text-align: justify;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #696969;font-size: 20px;line-height: 150%;box-sizing: border-box !important;">Not only can you track past purchases</p>

<p data-pm-slice="1 1 []" style="text-align: justify;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #696969;font-size: 20px;line-height: 150%;box-sizing: border-box !important;">from different credit/debit cards, but also</p>

<p data-pm-slice="1 1 []" style="text-align: justify;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #696969;font-size: 20px;line-height: 150%;box-sizing: border-box !important;">view your purchase history in the form of<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
a map.</p>

            </div>
        </div>
        
    </div>
</div><div width="100%" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
    <div class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
        
        <div style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div class="mcnTextContent" style="padding: 0px 9px 9px;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;text-align: justify;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #696969;font-size: 20px;line-height: 150%;box-sizing: border-box !important;">
                <h1 class="null" style="text-align: right;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: 'Noticia Text', Georgia, 'Times New Roman', serif;font-size: 48px;font-style: normal;font-weight: normal;line-height: 125%;letter-spacing: normal;box-sizing: border-box !important;">&nbsp;</h1>

<h1 class="null" style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;margin: 0;padding: 0;color: #000000;font-family: 'Noticia Text', Georgia, 'Times New Roman', serif;font-size: 48px;font-style: normal;font-weight: normal;line-height: 125%;letter-spacing: normal;box-sizing: border-box !important;"><img align="left" data-file-id="2573182" height="266" src="https://mcusercontent.com/1bdd20ff1e7df3e73e903f935/images/24ff0049-c9e0-4796-628d-81426d41feaa.jpg" style="border: 0px initial;width: 400px;height: 266px;margin: 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;outline: none;text-decoration: none;max-width: 100%;box-sizing: border-box !important;" width="400">Receive notifications on your phone about suspicious purchases</h1>

<p data-pm-slice="1 1 []" style="text-align: justify;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #696969;font-size: 20px;line-height: 150%;box-sizing: border-box !important;">Any time a suspicious purchase is made by any of your selected credit cards, you can choose to receive SMS or emails warning you about potential hackers.</p>

            </div>
        </div>
        
    </div>
</div></div>
        </div>
        
        <div class="templateSection templateFooter" data-template-container-bg style="background:#ffffff none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;display: flex;flex-shrink: 0;justify-content: center;padding-right: 0px;padding-left: 0px;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-sizing: border-box !important;">
            <div class="sectionFlexColumn" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;align-items: center;display: flex;flex-direction: column;width: 100%;box-sizing: border-box !important;">
                <div class="footerContainer contentContainer" style="background:#transparent none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;max-width: 1224px;width: 100%;flex: 0 0 auto;background-color: #transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-sizing: border-box !important;"></div>
            </div>
        </div>

